<div class="container-fluid" id="main">
	<%= render "shared/menu" %>
	<div class="row">
		<div class="col-md-12">
			<section class="primary">
				<div id="search">
					<h1>Buy pets around your location</h1>
					<h3>Contact owners, see images, and choose your preference</h3>
					<%= form_tag(list_path, method: "get") do %>

						<%= select_tag "type", options_from_collection_for_select(TYPES, "to_s", "to_s") %>
						<%= select_tag "gender", options_from_collection_for_select(GENDERS, "to_s", "to_s") %>
						<%= select_tag "age", options_from_collection_for_select(AGES, "to_s", "to_s") %>
						<%= submit_tag "Submit", class: "btn btn-primary" %>

					<% end %>
				</div>
			</section>
		</div>
	</div>	
</div>

<div class="cotainer-fluid">
	<div class="row" id="secondary">
		<h1 class="text-center">Help find these pets a home</h1>
		<div class="col-md-4">
			<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>

		<div class="col-md-4">
			<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>

		<div class="col-md-4">
			<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>

	<div class="container-fluid" id="cat">
	 	<div class="row">
	 		<div class="col-md-6">
	 			<div id="cat-page">
		 			<h1>Make a difference</h1>
		 			<h2>Don't leave unwanted pets outside on the streets</h2>
		 			<h3>
		 			<%= link_to "Post a pet!", new_post_path, class: "btn btn-success" %>
	 			</div>
	 		</div>
	 	</div>
	</div>
</div>


		








