<div class="nav-black">
	<%= render "shared/menu" %>
</div>

<div class="snake">

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<div>
				<ul class="list-group">
				  <% @user.errors.full_messages.each do |msg| %>
				    <li class="list-group-item list-group-item-danger"><%= msg %></li>
				  <% end %>
				</ul>
			</div>

			<div class="part">
			<h1 class="text-center">Sign Up</h1>

			<%= form_for @user do |f| %>

				<div class="form-group">
					<%= f.label :name, class: "control-label" %>
					<%= f.text_field :name, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :email, class: "control-label"%>
					<%= f.text_field :email, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :number, "Phone Number (Optional)", class: "control-label"%>
					<%= f.text_field :number, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :password, class: "control-label" %>
					<%= f.password_field :password, class: "form-control" %>
				</div>

				<div class="form-group">
					<%= f.label :password_confirmation, class: "control-label" %>
					<%= f.password_field :password_confirmation, class: "form-control" %>
				</div>

				<div>
					<%= f.submit "Sign me up!", class: "btn btn-primary" %>
				</div>

			<% end %>
			</div>
		</div>
	</div>
</div>