<% if logged_in? %>
	<header>
		<h2 id="logo"><%= link_to "Pet Me", root_path %></h2>
		<nav id="nav-bar">
			<%= link_to "Post a pet!", new_post_path, class: "btn btn-success" %>
		<div>
			<%= link_to "My Account", edit_user_path(current_user) %>
		</div>
		<div>
			<%= link_to 'Log Out', logout_path, method: :delete %>
		</div>
		</nav>
	</header>
<% end %>

<% if logged_in? == false %>
	<header>
		<h2 id="logo"><%= link_to "Pet Me", root_path %></h2>
		<nav id="nav-bar">
			<%= link_to "Post a pet!", login_path, class: "btn btn-success" %>
		<div>
			<%= link_to "Sign Up", signup_path %>
		</div>
		<div>
			<%= link_to "Log In", login_path %>
		</div>
		</nav>
	</header>
<% end %>
