<div class="nav-border">
	<%= render "shared/menu" %>
</div>

<div class="row">
	<div class="col-md-5" id="list-section">
	<div id="list-name">
	<h1><%= params[:type] %></h1>
	</div>
	<div id="list-info">
	<h3><%= params[:gender] %> & <%= params[:age] %></h3>
	</div>
		<div id="img-window">
			<% @posts.each do |post| %>

					<%= image_tag post.image.url, :size => "360x280", :crop => :fill %>
				<div>
					Breed: <%= post.breed %>
				</div>

				<div>
					<%= link_to "More Info", post_path(post) %>
				</div>

			<% end %>
		</div>
	</div>

	<div class="col-md-7">
	</div>
</div>




