<h1><%= params[:type] %></h1>
<h2><%= params[:gender] %></h2>
<h3><%= params[:age] %></h3>

<% @posts.each do |post| %>

	<div>
		<%= image_tag post.image.url %>
	</div>

	<div>
		Breed: <%= post.breed %>
	</div>

	<div>
		Price: <%= post.price %>
	</div>

<% end %>