<%= render "shared/menu" %>


<div id="addbackground">

<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h1>Add a pet</h1>
		<h3>Include information about the pet to potential buyers</h3>
		<%= form_for @post do |f| %>

			<div class="form-group">
				<%= f.label :type, "Type:", class: "control-label" %>
				<%= f.select :type, TYPES, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :gender, "Gender:", class: "control-label" %>
				<%= f.select :gender, GENDERS, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.label :age, "Age:", class: "control-label" %>
				<%= f.select :age, AGES, class: "form-control" %>
			</div>
			<div class="form-group">	
				<%= f.label :breed, "Breed:", class: "control-label" %>
				<%= f.text_field :breed, placeholder: "ex. Golden Retriever", class: "form-control" %>
			</div>
			<div class="input-prepend input-append">
				<span class="add-on">$</span>
				<%= f.text_field :price, class: "span2" %>
				<span class="add-on">.00</span>
			</div>

			<div class="form-group">
			<%= f.label :image, "Image:", class: "control-label" %>
			<%= f.file_field :image %>
			</div>

			<%= f.submit "Post this pet", class: "btn btn-primary" %>

	</div>
	</br>
	<div class="col-md-5">
		<h4>Additional Information</h4>
		<div class="form-group">
		<%= f.text_area :about, class: "form-control input-lg" %>
		</div>
	</div>

		<% end %>
</div>
</div>
