<div class="nav-border">
	<%= render "shared/menu" %>
</div>

<div class="container-fluid">
<div class="row">
	<div class="col-md-5 col-md-offset-2">
		<h1><%= @post.breed %></h1>
		<h6>Posted on: <%= @post.date_published %> <% if post_owner %>
			<%= link_to "Delete my post", post_path(@post), method: :delete %>
			<% end %></h6>
		<div id="show-img">
		<%= image_tag @post.image.url, :size => "450x304", :crop => :fill %>
		</div>
	</div>

<div class="col-md-4">
	<div id="contact">
		<h3>Contact Owner</h3>
		<p><%= @post.user["name"] %></p>
		<p><%= @post.user["email"] %></p>
		<p><%= @post.user["phone_number"] %></p>
	</div>

	<div id="price">
		<h3>Price</h3>
		<p>$ <%= @post.price %></p>
		<%= link_to "Back to list", list_path({type: @post.type, gender: @post.gender, age: @post.age}) %>
	</div>
</div>

</div>

<div class="row">
	<div class="col-md-5 col-md-offset-2">
		<h3>About</h3>
		<p><%= @post.description %></p>
	</div>

	<div class="col-md-3">
		<h3>Location</h3>
		<p><iframe src="<%= @map %>"></iframe></p>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4>Comments</h4>
		<% @post.comments.each do |comment| %>
		<p><%= comment.commenter %> - <%= comment.date_added %></p>
		<p><%= comment.body %></p>
		<% end %>
		<%= form_for [@post, @comment] do |f| %>

			<div>
				<%= f.text_area :body, class: "input-lg" %>
			</div>

			<%= f.submit "Comment", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
</div>
